div(class= blockName + '__form')
	p Добавить элемент
	if targetTitle
		mark в&nbsp; 
		i= targetTitle + ': '
	input(type="text" name="name" placeholder="Название" value="")
	input(type="text" name="url" placeholder="http://.." value="")
	button(class= blockName + '__button')(class= blockName + '__button_submit') добавить
