.additem {
	position: relative;
	font-family: sans-serif;
	line-height: 1.4;
	color: #888;
	padding: 1.5rem;
	margin: 0;
	list-style: none;
	box-shadow: rgba(0,0,0,0.2) 0 0 0;
	transition: all 0.5s ease-out;
	position: relative;
}

.additem p {
	margin: 0 0 1rem 0;
	line-height: 1;
	font-weight: normal;
	font-size: 0.85rem;
	color: #444;
}

.additem mark {
	padding: 0 0.2rem;
}

.additem input {
	width: 96%;
}

li .additem {
	float: right;
	opacity: 0;
	transition: all 0.3s ease-out;
}

li:hover .additem {
	opacity: 1;
}

.additem__submit {
	padding: 0.1rem 0.3rem 0.2rem;
	cursor: pointer;
}